html {
    background: url("https://i.imgur.com/T9a35K4.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    
    body{
        white-space: nowrap; 
        font-family: 'Cormorant Garamond', serif;
        }
    
    h1  {
        font-size: 50;
        color: #dcdcdc;        
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px #cc7722;       	         
        }

    h2  {
        font-size: 32;
        color: #cccccc;             
        position: absolute;
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px #cc7722;   
        }

    a   {
        color: #dcdcdc;
        text-shadow: 1px 1px #cc7722;
        text-align: center;
        vertical-align: bottom;        
        }
    
    