html {
    background: url("https://i.imgur.com/T9a35K4.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    
    body {
       white-space: nowrap; 
       font-family: 'Cormorant Garamond', serif;
    }
    
    h1{
        
        color: #fff;
        text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    h2{
        color: #fff;
        text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
    
    